# DB Version: 15
# OS Type: linux
# DB Type: mixed
# Total Memory (RAM): 2 GB
# Data Storage: ssd

max_connections = 120
shared_buffers = 2048MB
effective_cache_size = 6144MB
maintenance_work_mem = 512MB
checkpoint_completion_target = 0.9
wal_buffers = 64MB
default_statistics_target = 100
random_page_cost = 1.1
effective_io_concurrency = 200
work_mem = '40MB'
min_wal_size = 4GB
max_wal_size = 16GB
shared_preload_libraries = 'pg_stat_statements'