[options]
addons_path = {{ PW_addons_path }}
app_store = install
csv_internal_sep = ,
data_dir = /var/lib/odoo
db_host = {{ PW_db_host }}
admin_passwd = {{ PW_admin_passwd }}
db_maxconn = {{ PW_db_maxconn}}
db_name = False
# db_name = {{ PW_db_host }}
# db_password = {{ PW_db_password }}
# db_port = {{ PW_db_port }}
db_sslmode = prefer
db_template = template1
db_user = {{ PW_db_user }}
dbfilter = {{ PW_dbfilter}}
email_from = False
geoip_database = /usr/share/GeoIP/GeoLiteCity.dat
http_enable = True
http_interface =
http_port = 8069
longpolling_port = 8072
import_partial =
list_db = True
log_db = False
log_db_level = warning
log_handler = :INFO
log_level = {{ PW_log_level }}
logfile = False
logrotate = True
max_cron_threads = {{ PW_max_cron_threads }}
transient_age_limit = 1.0
pg_path = /usr/bin
pidfile = False
proxy_mode = True
reportgz = False
server_wide_modules = {{ PW_server_wide_modules }}
unaccent = False
without_demo = False
workers = {{ PW_workers }}
limit_memory_hard = {{ PW_limit_memory_hard }}
limit_memory_soft = {{ PW_limit_memory_soft }}
limit_request = {{ PW_limit_request }}
limit_time_cpu = {{ PW_limit_time_cpu }}
limit_time_real = {{ PW_limit_time_real }}
# limit_time_real_cron = -1

